.footer {
  background: black;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 60px 20px; /*cima, direita, baixo, esquerda*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  align-items: center;
}

.footer-texto {
  margin: 0px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  list-style: none;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}
